body{
    font-family: Verdana, 'Times New Roman';
    background-color: #000000;
    color: #ffffff;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
h1{
    font-size: 48px;
    text-align: center;
    padding: 15px;
}
h2{
    font-size: 32px;
    text-shadow: 2px 4px #808080;
}
p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}
img{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}
div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.intro{
    border-radius: 15px;
    margin-top: 15px;
}
.red{
    background-color: #ff0000;
    text-align:right;
    margin-left:50px;
    border-bottom: 3px solid #ffffff;
    border-left:10px solid #ffffff;
    border-right: none;
    border-top: none;
}
.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 10px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: none;
    border-top: none;
}
.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px solid #ffffff;
    border-left: 10px solid #ffffff;
    border-right: none;
    border-top: none;
}
.yellow h2,
.yellow p{
    color: #000000;
}
.yellow h2{
    text-shadow: 2px 4px #c7e2c7;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 10px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: none;
    border-top:none;
}
span{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: none;    
} 
footer{
    background-color: #000000;
    background: linear-gradient(90deg, #000000 0%, #0000FF 25%, #0066FF 70%, #000000 100%); 
}
footer p{
    font-size: 20px;
    text-align:center;
    padding: 10px 10px 10px 0px;
}
    